<?xml version="1.0"?>
<model>
  <name>dorna_2_config.urdf</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Shay Sackett</name>
   <email>shaysacketttek@gmail.com</email>
  </author>

  <description>
    Collision and visual URDF files for the Dorna 2 Robotic Arm, version 2. 
  </description>
</model>
